.form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /*background-color: red;*/
}

.form button {
    /*margin-left: 10px;*/
    width: 5vh;
    height: 5vh;
    background: rgba(239, 200, 26, 1);
    border-style: none;
    color: rgba(255, 255, 255, 1);
    /*border-radius: 50%;*/
}

.form input {
    text-align: center;
    width: 470px;
    height: 5vh;
    border: none;
    border: 1px solid #8692A6;
    /*border-radius: 50px;*/
}


/*.form input:focus {
    outline: none !important;
    border: 1px solid rgba(239, 200, 26, 1);
}*/

.titleRecipe {
    display: flex;
    position: absolute;
    width: 70%;
    margin-top: 200px;
    font-size: 30px;
    margin-right: 70px;
    color: #EFC81A;
    background-color: #3f3a3aa2;
}

.noRecipe {
    color: #EFC81A;
    font-size: 30px;
}